
  <form action="" class="form-group">
    <div class="form-icon">
      <img src="../../../assets/images/icon-hour.png" alt="Imagem do horário">
      Horário
    </div>
    <h3>Qual horário você quer treinar?</h3>
    <div class="form-option">
      <input type="radio" name="horario" value="morning">
      <label for="morning">Manhã</label>
      <span>06:00 ás 12:00</span>
    </div>
    <div class="form-option">
      <input type="radio" name="horario" value="afternoon">
      <label for="afternoon">Tarde</label>
      <span>12:01 ás 18:00</span>
    </div>
    <div class="form-option">
      <input type="radio" name="horario" value="night">
      <label for="night">Noite</label>
      <span>18:01 ás 23:00</span>
    </div>
    <div class="form-option-result">
      <input type="checkbox" name="show-closed">
      <label for="show-closed">Exibir unidades fechadas</label>
      <span>Resultados encontrados: <strong>0</strong></span>
    </div>
    <div class="form-action">
      <button type="submit" class="btn-search">ENCONTRAR UNIDADE</button>
      <button type="submit" class="btn-clear">LIMPAR</button>
    </div>
  </form>

