
.form-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  border: 2px solid #ccc5c5;
  border-radius: 10px;
  max-width: 80%;
  width: 100%;
  margin: 30px auto;
}

.form-group .form-icon {
  font-size: 14px;
  color: var(--light-grey);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.form-group .form-icon img {
  width: 24px;
  height: 24px;
}

.form-group h3 {
  font-size: 22px;
  display: flex;
  align-items: flex-start;
  padding: 24px 0;
  border-bottom: 1px solid #d8d3d3;
  width: 100%;
}

.form-group .form-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 8px 0;
  width: 100%;
  border-bottom: 1px solid #d8d3d3;
  padding-top: 12px;
  padding-bottom: 12px;
}
.form-group .form-option  label {
  margin-left: 10px;
  width: 50%;
}
.form-group .form-option  span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.form-group .form-option-result {
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  margin: 8px 0;
  padding: 20px 0;
  width: 100%;
  border-bottom: none;
}

.form-group .form-option-result label {
  margin-left: 10px;
  width: 50%;
}

.form-group .form-option-result  span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: inherit;
}

.form-group .form-option-result  strong {
  font-style: bold;
  color: black;
  margin-left: 10px;
}

.form-group .form-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
  width: 100%;
}

.form-group .form-action button {
  padding: 12px 24px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 40%;
}

.form-group .form-action .btn-search {
  background: var(--yellow);
  border: 1px solid #ffffff;
}

.form-group .form-action .btn-clear {
  background: white;
  border: 1px solid #d8d3d3;
}
