<div class="unidade-group">
  <div class="situacao">
    <p>Aberto</p>
  </div>
  <div class="endereco">
    <h3>Unidade</h3>
    <p>Rua Tiburcio Cavalcante 1885- Meireles, Fortaleza, CE</p>
    <span></span>
  </div>

  <div class="status-group">
    <img src="../../../assets/images/required-mask.png" alt="">
    <img src="../../../assets/images/required-towel.png" alt="">
    <img src="../../../assets/images/partial-fountain.png" alt="">
    <img src="../../../assets/images/forbidden-lockerroom.png" alt="">
  </div>

  <div class="funcionamento">
    <div class="horario">
      <h3>Seg. à Sex.</h3>
      <p>06:00 ás 22:00</p>
    </div>
    <div class="horario">
      <h3>Sáb.</h3>
      <p>08:00 ás 18:00</p>
    </div>
    <div class="horario">
      <h3>Dom.</h3>
      <p>Fechado</p>
    </div>
  </div>
</div>
